<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragmens/fragmentUsers :: headerfiles"></head>
<body class="wrapper">
  <header th:insert="fragmens/fragmentUsers :: nav"></header>

    <!-- INIT MAIN PANEL -->
	<div class="main-panel">

      <!-- INIT CENTRAL BODY -->
      <div class="content">

        <section class="col-12 offset-fixed">
            <a class="btn btn-yellow" href="/user/student/update">Update Profile</a>
            <a class="btn btn-success" href="/user/student/delete">Delete Profile</a>
            <a class="btn btn-primary" href="/user/student/subscribed">Materials Subscripted</a>
            <section class="my-4">
				<form th:action="@{/logout}" method="post">
			          <input type="submit" value="Cerrar Sesion / Logout"/>
			    </form>	        
			</section>
        </section>

        <!-- INIT WRAPPER -->
          <div class="wrapper my-5">

              <div class="container">
              	<div class="row">
                 	<section class="col-12 offset-fixed my-4">
			          <div class="row">
	                      <!-- INIT TABLE -->
	                      <div class="col-md-12 col-md-offset-2">
	                        <div class="description">
	                          <h1>¿Está Seguro que quiere Eliminar su Usuario y Perfil de Estudiante?</h1>
	                        </div>
	                        
	                        <div class="fresh-table full-color-red">
	                        <!-- full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange-->
	                          	<a class="btn btn-green" href="/user/student/deleteConfirm">ACCEPT</a>
          							<a class="btn btn-red" href="/user/student/profile">CANCEL</a>			                          
	                        </div>                    
	                      </div>
	                      <!--END FORM OR TABLE -->
	                  </div>   
			        
			        </section>
               	</div>      
			  </div>
              <!--END CONTAINER -->
          </div>
          <!-- END WRAPPER -->
      </div>
      <!-- END CENTRAL BODY -->

    </div>
	<!-- END MAIN PANEL -->
    
    <footer th:insert="fragmens/fragmentUsers :: footer"></footer>
	<div th:insert="fragmens/fragmentUsers :: scripts"></div>
</body>
</html>