<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragmens/fragmentProfessor :: headerfiles"></head>
<body class="wrapper">
	<header th:insert="fragmens/fragmentProfessor :: nav"></header>
	
	<!-- INIT MAIN PANEL -->
	<div class="main-panel">
	
      <!-- INIT CENTRAL BODY -->
      <div class="content">
        
        <section class="col-12 offset-fixed">
            <a class="btn btn-yellow" href="/admin/professor/createProfessor">Create Professor</a>  
            <section class="my-4">
				<form th:action="@{/logout}" method="post">
			          <input type="submit" value="Cerrar Sesion / Logout"/>
			    </form>	        
			</section>
        </section>  
        
        <section class="col-12 offset-fixed my-5">        
        	<div class="py-3 pt-2 text-muted text-center text-small">
                        <ul class="titleRegister list-inline">
                            <li class="list-inline-item"><img src="../../logos/logo.png" width="50%" alt=""></li>
                            <li class="list-inline-item text-center "><a href="#"></a><p id="titleContacts">Formulario de Ingreso de Profesores</p></li>
                        </ul>
                    </div>
                    
                    <!--INIT DATA-->
                    <div class="row justify-content-center" > 
                        <div class="col-md-8 order-md-1">     
                            <!--INIT FORM ACCOUNT-->
                            <form th:object="${professor}" th:action="@{/admin/professor/registerProfessor}" method="POST"  class="needs-validation" novalidate>
                                <div class="row">
                                        
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="name" >Nombre</label>
                                            <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="" value="" required>
                                        </div>
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="surname">Apellido</label>
                                            <input th:field="*{surname}" type="text" class="form-control" id="surname" placeholder=>
                                        </div>                                        
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="phone">Teléfono</label>
                                            <input th:field="*{phone}" type="text" class="form-control" id="phone" placeholder=>
                                        </div>
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="email">Email</label>
                                            <input th:field="*{email}" type="email" class="form-control" id="email" placeholder=>
                                        </div>
                                </div>                                

                                <!-- BUTTON REGISTER BLUE -->
                                <input type="submit" id="btnCreateProfessor" value="Create Professor" class="btn btn-success"/>                                  
                                
                                <a th:href="@{/admin/professor/controlPanel}" type="button" class="btn btn-primary ml-5">Return Professor Control Panel</a>

                            </form>
                            <!--END FORM ACCOUNT-->                            
                        </div>                           
                    </div>
                    <!--END DATA-->
        </section>
      </div>
      <!-- END CENTRAL BODY -->
	    
	</div>
	<!-- END MAIN PANEL -->
    
    <footer th:insert="fragmens/fragmentProfessor :: footer"></footer>
	<div th:insert="fragmens/fragmentProfessor :: scripts"></div>
</body>
</html>