<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragmens/fragmentProfessor :: headerfiles"></head>
<body class="wrapper">
	<header th:insert="fragmens/fragmentProfessor :: nav"></header>
	
	<!-- INIT MAIN PANEL -->
	<div class="main-panel">

      <!-- INIT CENTRAL BODY -->
      <div class="content">
        
        <section class="col-12 offset-fixed">
            <a class="btn btn-yellow" href="/admin/professor/createProfessor">Create Professor</a>  
            <section class="my-4">
				<form th:action="@{/logout}" method="post">
			          <input type="submit" value="Cerrar Sesion / Logout"/>
			    </form>	        
			</section>
        </section>
        
        <section class="col-12 offset-fixed my-5">        
        	<div class="py-3 pt-2 text-muted text-center text-small">
                        <ul class="titleRegister list-inline">
                            <li class="list-inline-item"><img src="../../../logos/logo.png" width="50%" alt=""></li>
                            <li class="list-inline-item text-center "><a href="#"></a><p id="titleContacts">Cambio de Datos de un Profesor</p></li>
                        </ul>
                    </div>
                    
                    <!--INIT DATA-->
                    <div class="row justify-content-center" >
                        <div class="col-md-8 order-md-1">                       
        
                            <!--INIT FORM ACCOUNT-->
                            <form th:object="${professor}" th:action="@{/admin/professor/changeProfessor}" method="POST"  class="needs-validation" novalidate>
                                <div class="row">
                                        
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="id" >Copie aquí el ID del Profesor</label>
                                            <input th:field="*{id}" type="text" class="form-control" id="" placeHolder="Escriba el ID del Profesor a Modificar" value="">
                                        </div>
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="name" >Nombre</label>
                                            <input th:field="*{name}" type="text" class="form-control" id="name" value="">
                                        </div>
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="surname">Apellido</label>
                                            <input th:field="*{surname}" type="text" class="form-control" id="surname" value="">
                                        </div>                                        
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="phone">Teléfono</label>
                                            <input th:field="*{phone}" type="text" class="form-control" id="phone" value="">
                                        </div>
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="email">Email</label>
                                            <input th:field="*{email}" type="email" class="form-control" id="email" value="">
                                        </div>                                         
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="active">Activo o no</label>
                                            <input th:field="*{active}" type="text" class="form-control" id="active" value="">
                                        </div>          
                                </div>                                

                                <!-- BUTTON REGISTER BLUE -->
                                <input type="submit" id="btnUpdateProfessor" value="Professor Data Change" class="btn btn-success"/>  
                                
                                
                                <a th:href="@{/admin/professor/controlPanel}" type="button" class="btn btn-primary ml-5">Return Professor Control Panel</a>

                            </form>
                            <!--END FORM ACCOUNT-->                            
                        </div>                           
                    </div>
                    <!--END DATA-->
                      
        </section>
        
        <section class="col-12 offset-fixed my-4">
        
        	<div class="row">
                    
                      <!-- INIT TABLE -->
                      <div class="col-md-12 col-md-offset-2">
                        <div class="description">
                          <h2>LISTADO DE PROFESORES</h2>
                        </div>
                        
                        <div class="fresh-table full-color-green">
                        <!-- full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange-->
                          
                          <table id="fresh-table" class="table">
                            <thead>
                              <th>ID</th>
                              <th>NAME</th>
                              <th>SURNAME</th>
                              <th>PHONE</th>
                              <th>EMAIL</th>
                              <th>TYPE</th>
                              <th>ACTIVE</th>
                            </thead>
                            <tbody>
                                <tr data-th-each="professor : ${professors}">
                                    <td data-th-text="${professor.id}"></td>
                                    <td data-th-text="${professor.name}"></td>
                                    <td data-th-text="${professor.surname}"></td>
                                    <td data-th-text="${professor.phone}"></td>
                                    <td data-th-text="${professor.email}"></td>
                                    <td data-th-text="${professor.type}"></td>
                                    <td data-th-text="${professor.active}"></td>     
                                </tr>
                            </tbody>
                          </table>
                        </div>                    
                      </div>
                      <!--END FORM OR TABLE -->
                  </div>   
        
        </section>

      </div>
      <!-- END CENTRAL BODY -->
	    
	</div>
	<!-- END MAIN PANEL -->
    
    <footer th:insert="fragmens/fragmentProfessor :: footer"></footer>
	<div th:insert="fragmens/fragmentProfessor :: scripts"></div>
</body>
</html>