.log{    
  background-image: url(../img/fondo.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 2px 2px 10px #999;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.loguerin-dark {
    background: linear-gradient(145deg, #575b5d, #252b2d);
    /*background: black;*/
}
.loguerin-card-purple {
    background: linear-gradient(145deg, #673AB7, #9C27B0);
}
.loguerin-blue {
    background: linear-gradient(145deg, #2196F3, #3F51B5);
}
.loguerin-purple-pink {
    background: linear-gradient(145deg, #3F51B5, #E91E63);
}
.loguer{    
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 500px;
    height: 90vh;
    overflow: hidden;
}
.title{
  font-size: 50px;    
}
.msgBtn{
    font-family: Verdana;
    font-size: 2rem;
    color: orange;
}

/*------------For submit button---------*/
.sbutton{
	 color: white;
     font-size: 20px;
     border: 1px solid white;
     background-color: #080808;
     width: 32%;
     margin-left: 41%;
     margin-top: 16px;
	 box-shadow: 0px 2px 2px 0px white;
  	   
   }
.btn.btn-warning:hover {
    box-shadow: 2px 1px 2px 3px #99ccff;
	background:#5900a6;
	color:#fff;
	transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;
	
}	 

/* MEDIAS QUERIES*/

@media (min-width: 450px) {
    .loguer{max-width: 380px;}    
}

@media (min-width: 600px) {
    .loguer{max-width: 540px;}
}
  
@media (min-width: 768px) {
    .loguer{max-width: 720px;}
}  

@media (min-width: 992px) {
    .loguer{max-width: 960px;}
}

@media (min-width: 1200px) {
    .loguer{max-width: 100%;}
}
