<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragmens/fragmentMaterial :: headerfiles"></head>
<body class="wrapper">
	<header th:insert="fragmens/fragmentMaterial :: nav"></header>
	
	<!-- INIT MAIN PANEL -->
	<div class="main-panel">

      <!-- INIT CENTRAL BODY -->
      <div class="content">

        <section class="col-12 offset-fixed">
            <a class="btn btn-yellow" href="/admin/material/createMaterial">Create Material</a>
            <section class="my-4">
				<form th:action="@{/logout}" method="post">
			          <input type="submit" value="Cerrar Sesion / Logout"/>
			    </form>	        
			</section>
        </section> 
        
         <section class="col-12 offset-fixed my-4">
        
        	<div class="row">
                    <!-- INIT TABLE -->
                      <div class="col-md-12 col-md-offset-2">
                        <div class="description">
                          <h2>LISTADO DE ESTUDIANTES INSCRIPTOS</h2>
                        </div>
                        
                        <div class="fresh-table full-color-blue">
                        <!-- full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange-->
                          
                          <table id="fresh-table" class="table">
                            <thead>
                              <th>ID</th>
                              <th>NAME</th>
                              <th>SURNAME</th>
                              <th>PHONE</th>
                              <th>EMAIL</th>
                              <th>TYPE</th>

                            </thead>
                            <tbody>
                                <tr data-th-each="person : ${persons}">
                                    <td data-th-text="${person.id}"></td>
                                    <td data-th-text="${person.name}"></td>
                                    <td data-th-text="${person.surname}"></td>
                                    <td data-th-text="${person.phone}"></td>
                                    <td data-th-text="${person.email}"></td>
                                    <td data-th-text="${person.type}"></td>
                                </tr>
                            </tbody>
                          </table>
                        </div>                    
                      </div>
                      <!--END FORM OR TABLE --> 
                      
            </div>
        
        </section>       
        
        <section class="col-12 offset-fixed my-4">
        
        	<div class="row">
                    
                      <!-- INIT TABLE -->
                      <div class="col-md-12 col-md-offset-2">
                        <div class="description">
                          <h2>INFORMACION DE LA MATERIA SOLICITADA</h2>
                        </div>
                        
                        <div class="fresh-table full-color-red">
                        <!-- full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange-->
                          
                          <table id="fresh-table" class="table">
                            <thead>
                              <th>NAME</th>
                              <th>HOUR</th>
                              <th>CAPACITY</th>
                              <th>SUBSCRIBED</th>
                              <th>DETAIL</th>
                            </thead>
                            <tbody>
                                <tr data-th-each="material : ${materials}">
                                    <td data-th-text="${material.name}"></td>
                                    <td data-th-text="${material.hour}"></td>
                                    <td data-th-text="${material.capacity}"></td>
                                    <td data-th-text="${material.subscribed}"></td>
                                    <td data-th-text="${material.detail}"></td>
                                </tr>
                            </tbody>
                          </table>
                        </div>                    
                      </div>
                      <!--END FORM OR TABLE -->
                  </div>
        
        </section>      
        

      </div>
      <!-- END CENTRAL BODY -->
	    
	</div>
	<!-- END MAIN PANEL -->
    
    <footer th:insert="fragmens/fragmentMaterial :: footer"></footer>
	<div th:insert="fragmens/fragmentMaterial :: scripts"></div>
</body>
</html>