<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragmens/fragmentMaterial :: headerfiles"></head>
<body class="wrapper">
	<header th:insert="fragmens/fragmentMaterial :: nav"></header>
	
	<!-- INIT MAIN PANEL -->
	<div class="main-panel">
	
      <!-- INIT CENTRAL BODY -->
      <div class="content">

        <section class="col-12 offset-fixed">
            <a class="btn btn-yellow" href="/admin/material/createMaterial">Create Material</a>
        </section>      
        
        <section class="col-12 offset-fixed my-5">
        
        	<div class="py-3 pt-2 text-muted text-center text-small">
                        <ul class="titleRegister list-inline">
                            <li class="list-inline-item"><img src="../../../logos/logo.png" width="50%" alt=""></li>
                            <li class="list-inline-item text-center "><a href="#"></a><p id="titleContacts">Formulario de Ingreso de Materias</p></li>
                        </ul>
                    </div>
                    <!--INIT DATA-->
                    <div class="row justify-content-center" >
                        <div class="col-md-8 order-md-1">   
                            <!--INIT FORM ACCOUNT-->
                            <form th:object="${material}" th:action="@{/admin/material/registerMaterial}" method="POST"  class="needs-validation" novalidate>
                                <div class="row">
                                        
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="name" >Nombre</label>
                                            <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="" value="">
                                        </div>
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="hour">Hora de Inicio</label>
                                            <input th:field="*{hour}" type="text" class="form-control" id="hour" placeholder=>
                                        </div>                                        
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="capacity">Capacidad</label>
                                            <input th:field="*{capacity}" type="text" class="form-control" id="capacity" placeholder=>
                                        </div>
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="subscribed">Cantidad de Suscriptos</label>
                                            <input th:field="*{subscribed}" type="text" class="form-control" id="subscribed" placeholder=>
                                        </div>
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="detail">Detalles</label>
                                            <input th:field="*{detail}" type="text" class="form-control" id="" placeholder=>
                                        </div>                                </div>                                

                                <!-- BUTTON REGISTER BLUE -->
                                <input type="submit" id="btnCreateMaterial" value="Create Material" class="btn btn-success"/>  
                                
                                <a th:href="@{/admin/material/controlPanel}" type="button" class="btn btn-primary ml-5">Return Material Control Panel</a>

                            </form>
                            <!--END FORM ACCOUNT-->                            
                        </div>                           
                    </div>
                    <!--END DATA-->
        </section>
      </div>
      <!-- END CENTRAL BODY -->
	    <footer th:insert="fragmens/fragmentMaterial :: footer"></footer>
	</div>
	<!-- END MAIN PANEL -->
	<div th:insert="fragmens/fragmentMaterial :: scripts"></div>
</body>
</html>