<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragmens/fragmentMaterial :: headerfiles"></head>
<body class="wrapper">
	<header th:insert="fragmens/fragmentMaterial :: nav"></header>
	
	<!-- INIT MAIN PANEL -->
	<div class="main-panel">
	
      <!-- INIT CENTRAL BODY -->
      <div class="content">

        <section class="col-12 offset-fixed">
            <a class="btn btn-yellow" href="/admin/material/createMaterial">Create Material</a>
            <section class="my-4">
				<form th:action="@{/logout}" method="post">
			          <input type="submit" value="Cerrar Sesion / Logout"/>
			    </form>	        
			</section>
        </section>         
        
        <section class="col-12 offset-fixed my-5">
        
        	<div class="py-3 pt-2 text-muted text-center text-small">
                        <ul class="titleRegister list-inline">
                            <li class="list-inline-item"><img src="../../../logos/logo.png" width="50%" alt=""></li>
                            <li class="list-inline-item text-center "><a href="#"></a><p id="titleContacts">Cambio de Datos de una Materia</p></li>
                        </ul>
                    </div>
                    
                    <!--INIT DATA-->
                    <div class="row justify-content-center" >            
                                            
                        <div class="col-md-8 order-md-1">                       
        
                            <!--INIT FORM ACCOUNT-->
                            <form th:object="${material}" th:action="@{/admin/material/changeMaterial}" method="POST"  class="needs-validation" novalidate>
                                <div class="row">
                                
										<div class="col-md-4 mb-5">
                                            <label class="labels" for="id" >Copie aquí el ID de la Materia</label>
                                            <input th:field="*{materialId}" type="text" class="form-control" id="" placeHolder="Escriba el ID de la Materia" value="">
                                        </div>                                        
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="name" >Nombre</label>
                                            <input th:field="*{name}" type="text" class="form-control" id="name" value="">
                                        </div>
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="hour">Hora de Inicio</label>
                                            <input th:field="*{hour}" type="text" class="form-control" id="hour" value="">
                                        </div>                                        
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="capacity">Capacidad de la Materia</label>
                                            <input th:field="*{capacity}" type="text" class="form-control" id="capacity" value="">
                                        </div>
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="subscribed">Suscripciones</label>
                                            <input th:field="*{subscribed}" type="text" class="form-control" id="subscribed" value="">
                                        </div>
                                        <div class="col-md-4 mb-5">
                                            <label class="labels" for="Detail">Detalles</label>
                                            <input th:field="*{detail}" type="text" class="form-control" id="detail" value="">
                                        </div>
                                </div>                                

                                <!-- BUTTON REGISTER BLUE -->
                                <input type="submit" id="" value="Material Data Change" class="btn btn-success"/>  
                                
                                
                                <a th:href="@{/admin/material/controlPanel}" type="button" class="btn btn-primary ml-5">Return Material Control Panel</a>

                            </form>
                            <!--END FORM ACCOUNT-->                            
                        </div>                           
                    </div>
                    <!--END DATA-->
                      
        </section>
        
        <section class="col-12 offset-fixed my-4">
        
        	<div class="row">
                    
                      <!-- INIT TABLE -->
                      <div class="col-md-12 col-md-offset-2">
                        <div class="description">
                          <h2>LISTADO DE MATERIAS</h2>
                        </div>
                        
                        <div class="fresh-table full-color-red">
                        <!-- full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange-->
                          
                          <table id="fresh-table" class="table">
                            <thead>
                              <th>ID</th>
                              <th>NAME</th>
                              <th>HOUR</th>
                              <th>CAPACITY</th>
                              <th>SUBSCRIBED</th>
                              <th>DETAIL</th>
                            </thead>
                            <tbody>
                                <tr data-th-each="material : ${materials}">
                                    <td data-th-text="${material.id}"></td>
                                    <td data-th-text="${material.name}"></td>
                                    <td data-th-text="${material.hour}"></td>
                                    <td data-th-text="${material.capacity}"></td>
                                    <td data-th-text="${material.subscribed}"></td>
                                    <td data-th-text="${material.detail}"></td>
                                </tr>
                            </tbody>
                          </table>
                        </div>                    
                      </div>
                      <!--END FORM OR TABLE -->
                  </div>
        
        </section>

      </div>
      <!-- END CENTRAL BODY -->
	    <footer th:insert="fragmens/fragmentMaterial :: footer"></footer>
	</div>
	<!-- END MAIN PANEL -->
	<div th:insert="fragmens/fragmentMaterial :: scripts"></div>
</body>
</html>